@import "tailwindcss";
html {
    scroll-behavior: smooth;
    background-color: oklch(0.987 0.026 102.212);
}

:root {
  --color-primary: #d4a017;
  --color-accent: #2563eb;
  --color-bg: #f9fafb;
  --color-text: #22223b;
  --color-card: #fff;
}

.dark {
  --color-bg: #18181b;
  --color-text: #f3f4f6;
  --color-card: #23272f;
}

.light {
  --color-bg: #f9fafb;
  --color-text: #22223b;
  --color-card: #fff;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

.card {
  background: var(--color-card);
  color: var(--color-text);
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  
  /* Hide scrollbar for Chrome, Safari and Edge */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE, Edge */
  body {
    -ms-overflow-style: none;
  }